@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}

.btn {
    color: whitesmoke;
    background-color: hotpink;
}

.price {
    color: hotpink
}

.category-2 {
    background-color: hotpink;
}

.last-section {
    background-color: hotpink;
    height: 400px;
    align-items: center;
    border-radius: 10px;
}

.last-section .btn {
    background-color: whitesmoke;
    color: hotpink;
    font-weight: 600;
}

footer {
    text-align: center;
    word-wrap: break-word;
}